body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Playfair Display", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 1px red;
    padding: 20px;
    font-size: 50px;
    color: red;
}

.chamada {
    background: rgb(50, 39, 40);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 22px;
}

.videos-speedrun {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.videos-speedrun img {
    opacity: 0.5;
    height: 200px;
}

.videos-speedrun img:hover {
    opacity: 1.0;
    border: 2px solid red;
}

.categoria h2 {
    color: red;
}